<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Inventory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>A Simple Car Inventory</h2>
    <form method="POST" action="/solid">
        <div class="input-container">
            <label for="make">Make:</label><br>
            <input type="text" id="make" name="Make" required>
        </div>
        <div class="input-container">
            <label for="model">Model:</label><br>
            <input type="text" id="model" name="Model" required>
        </div>
        <div class="input-container">
            <label for="year">Year:</label><br>
            <input type="number" id="year" name="Year" required>
        </div>
        <div class="input-container">
            <label for="description">Description:</label><br>
            <textarea id="description" name="Description" required></textarea>
        </div>
        <div class="input-container">
            <input type="submit" value="Save">
        </div>
    </form>

    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
        {% for car in all_models %}
        <tr>
            <td>{{ car.id }}</td>
            <td>{{ car.Make }}</td>
            <td>
                <a href="/update/{{ car.id }}">Update</a> |
                <a href="/delete/{{ car.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        
    </table>
    
</body>
</html>