<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Inventory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>
<body>
    <h2>A Simple Car Inventory</h2>

    <form method="POST" action="/solid2">
        {% for car in all_models %}
        <input type="hidden" name="id" value="{{ car.id }}">

        
        <div class="input-container">
            <label for="make">Make:</label><br>
            <input type="text" id="make" name="Make" value="{{ car.Make }}" required>
        </div>
        <div class="input-container">
            <label for="model">Model:</label><br>
            <input type="text" id="model" name="Model" value="{{ car.Model }}" required>
        </div>
        <div class="input-container">
            <label for="year">Year:</label><br>
            <input type="number" id="year" name="Year" value="{{ car.Year }}" required>
        </div>
        <div class="input-container">
            <label for="description">Description:</label><br>
            <textarea id="description" name="Description" required>{{ car.Description }}</textarea>
        </div>
        {% endfor %}
        <div class="input-container button-row">
            <button type="submit" class="btn update">Update</button>
            <a href="/" class="btn cancel">Cancel</a>
        </div>
    </form>
    
</body>
</html>
